<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fabric.js Canvas</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/4.5.0/fabric.min.js"></script>
</head>
<body>
    <canvas id="canvas" width="800" height="600"></canvas>
    <button id="download-btn">Download</button>

    <script>
        var canvas = new fabric.Canvas('canvas');
        var imageUrl = "{{ image_url }}";
        var textTopValue = "Top Text";  // Placeholder text for the top rectangle
        var textBottomValue = "Bottom Text";  // Placeholder text for the bottom rectangle
        var rectColor = "{{ rect_color }}";
        var rectHeight = 50; // Height of the rectangles

        fabric.Image.fromURL(imageUrl, function(oImg) {
            // Resize image to fit the canvas
            oImg.scaleToWidth(canvas.width);
            oImg.scaleToHeight(canvas.height);
            oImg.selectable = false;
            canvas.add(oImg);
        }, { crossOrigin: 'anonymous' });

            // Add a top rectangle
            var topRect = new fabric.Rect({
                left: 0,
                top: 0,
                fill: rectColor,
                width: canvas.width,
                height: rectHeight,
                selectable: false
            });
            canvas.add(topRect);

            var textTop = new fabric.Text(textTopValue, {
                left: 10, // Adjust as needed
                top: 10, // Adjust as needed
                fontSize: 20,
                fill: 'white' // Change as needed
            });
            canvas.add(textTop);

            // Add a bottom rectangle
            var bottomRect = new fabric.Rect({
                left: 0,
                top: canvas.height - rectHeight,
                fill: rectColor,
                width: canvas.width,
                height: rectHeight,
                selectable: false
            });
            canvas.add(bottomRect);

            // Add text
            var textBottom = new fabric.Text(textBottomValue, {
                left: 10, // Adjust as needed
                top: canvas.height - rectHeight + 10, // Adjust as needed
                fontSize: 20,
                fill: 'white' // Change as needed
            });
            canvas.add(textBottom);

        });

        
        document.getElementById('download-btn').addEventListener('click', function() {
            var link = document.createElement('a');
            link.download = 'canvas_image.png';
            link.href = canvas.toDataURL('image/png');
            link.click();
        });
    </script>
</body>
</html>
